@model WEBSV5TOT.ViewModel.UserViewModel;
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="~/assets/icons/icons8-map-64.png">
    <link rel="stylesheet" href="~/assets/styles/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/dist/css/adminlte.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <title>Bản đồ "Sinh viên 5 tốt"</title>
</head>
<body>
    <div class="container_login" id="loginContainer">
        <div class="text-center">
            <div>
                <img src="~/assets/icons/icons8-map-64.png" alt="">
            </div>
            <b class="title_login">BẢN ĐỒ "SINH VIÊN 5 TỐT"</b>
        </div>
        <div class="form_login mt-3">
            <div class="text-center"><img src="~/assets/icons/dhsp.png" alt=""></div>
            <div class="row color_paragraph mt-2">
                <div class="icheck-primary">
                    <input type="radio" name="r3" checked id="radioSuccess1">
                    <label style="font-weight: 100 !important;" for="radioSuccess1">
                        Quản trị viên / Quản lý tổng
                    </label>
                </div>
                <div class="icheck-primary pt-2 ">
                    <input type="radio" name="r3" checked id="radioSuccess2">
                    <label style="font-weight: 100 !important;" for="radioSuccess2">
                        Ban Thư ký
                    </label>
                </div>
                <div class="icheck-primary pt-2">
                    <input type="radio" name="r3" checked id="radioSuccess3">
                    <label style="font-weight: 100 !important;" for="radioSuccess3">
                        Cán bộ Hội cấp cơ sở
                    </label>
                </div>
                <div class="icheck-primary pt-2">
                    <input type="radio" name="r3" checked id="radioSuccess4">
                    <label style="font-weight: 100 !important;" for="radioSuccess4">
                        Sinh viên
                    </label>
                </div>
            </div>
            <div class="textbox_login">
                @Html.TextBoxFor(x=>x.UserName,new{@class="form-control mt-4 p-4",@style="border-radius: 12px;",@placeholder="Nhập tên đăng nhập"})
                @Html.TextBoxFor(x=>x.Password,new{@class="form-control mt-4 p-4",@style="border-radius: 12px;",@placeholder="Nhập tên đăng nhập",@type="password"})
                
            </div>
            <div class="mt-4">
                <a class="text-right d-block" id="forgotPasswordLink" href="#">Quên mật khẩu?</a>
            </div>
            <div class="text-center mt-3 mb-3">
                <button id="login" class="btn fw-bold" style="padding: 10px 16px;background-color: rgb(18, 72, 116); color: white;">Đăng nhập</button>
            </div>
        </div>
    </div>

    <div class="container_login" id="resetPasswordContainer" style="display: none;">
        <div class="text-center">
            <div>
                <img src="~/assets/icons/icons8-map-64.png" alt="">
            </div>
            <b class="title_login">BẢN ĐỒ "SINH VIÊN 5 TỐT"</b>
        </div>
        <div class="form_login position-relative mt-3">
            <div class="position-absolute" style="top: 30px; left: 35px;"><i id="backToLogin" style="font-size: 25px; color: rgb(18, 72, 116);" class="fas fa-arrow-left"></i></div>
            <div class="text-center"><img src="~/assets/icons/dhsp.png" alt=""></div>
            <div class="textbox_login">
                @Html.TextBoxFor(x=>x.MSSV,new{@class="form-control mt-4 p-4",@style="border-radius: 12px;",@placeholder="Nhập tên mã số sinh viên"})
                @Html.TextBoxFor(x=>x.otp,new{@class="form-control mt-4 p-4",@style="border-radius: 12px;",@placeholder="Nhập OTP",@type="text"})
                <input class="form-control mt-4 p-4" style="border-radius: 12px;" type="text" placeholder="Nhập tài khoản sinh viên của bạn">
                <input class="form-control mt-4 p-4" style="border-radius: 12px;" type="password" placeholder="Mã OTP">
            </div>
            <div class="text-center mt-3 mb-3">
                <button class="btn fw-bold" style="padding: 10px 16px;background-color: rgb(18, 72, 116); color: white;">Gửi mật khẩu mới</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/assets/script/code.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- SweetAlert2 -->
    <script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/script/main.js"></script>
    <script>
        $("#login").on("click",function(e){
            e.preventDefault();
            var ob = {
                "UserName": $("#UserName").val(),
                "Password": $("#Password").val(),
                "otp" : $("#otp").val(),
                "MSSV": $("#MSSV").val()
            }
            PostDataWithObject("add", ob, "/User/Login", "Đăng nhập thành công", "Tên đăng nhập hoặc mật khẩu sai", "", "/Home/Index");
        });
    </script>
</body>
</html>