@using WEBSV5TOT.Models;
@model IEnumerable<WEBSV5TOT.Models.Student5Good>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstDonvi = ViewBag.Donvi as List<Part>;

}
<div class="card mt-2">
    <div class="card-header">
        <h3 class="card-title">Thanh tìm kiếm</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i style="font-size:28px" class="fas fa-minus"></i>
            </button>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <p>Tên / MSSV</p>
                <input id="MSSV" name="MSSV" class="form-control" placeholder="Nhập tên hoặc mã số sinh viên" />

            </div>
            <div class="col-2">
                <p>Đơn vị</p>
                <select class="form-control select2bs4 Donvi" style="width: 100%;">
                    @if (lstDonvi != null)
                    {
                        <option selected>--- Default ---</option>
                        foreach (var item in lstDonvi)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-2">
                <p>Lớp</p>
                <select class="form-control select2bs4 Lop" style="width: 100%; height:100%">
                    @if (lstDonvi != null)
                    {
                        <option selected>--- Default ---</option>
                        foreach (var item in lstDonvi)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-2">
                <p>Năm xét</p>
                <select class="form-control select2bs4 Nam" style="width: 100%;">
                    <option selected>--- Default ---</option>
                    <option value="2019-2020">2019-2020</option>
                    <option value="2020-2021">2020-2021</option>
                    <option value="2021-2022">2021-2022</option>
                    <option value="2023-2024">2023-2024</option>

                </select>
            </div>
            <div class="col-3">
                <p>Cấp</p>
                <select class="form-control select2bs4" style="width: 100%;">
                    <option selected>--- Default ---</option>
                    <option value="Liên Chi hội">Liên Chi hội</option>
                    <option value="Trường">Trường</option>
                    <option value="Thành Phố">Thành Phố</option>
                </select>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row justify-content-end">
            <button type="submit" id="search_booking" class="btn btn-success mr-1">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h2>Danh sách Sinh viên 5 tốt</h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>MSSV</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Đơn vị</th>
                    <th>Năm xét duyệt</th>
                    <th>Cấp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        47.01.104.114
                    </td>
                    <td>Trần Đỗ Anh Khoa</td>
                    <td>Nam</td>
                    <td>Công nghệ thông tin</td>
                    <td>2023-2024</td>
                    <td>Trường</td>
                </tr>
                
            </tbody>
            
        </table>
    </div>
    <!-- /.card-body -->
</div>
@section Scripts{
    <script>

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    </script>
    <script>
        $(function () {
            
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}