*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Nunito',sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
    font-size: 15px;
}
/*HEADER*/
/*Background*/
#title-site{
    position: relative;
}
#title-site .background{
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    right:0;
    width: 50%;
    height: 100%;
    background-image: url(./img/Toa\ nha\ A-hinh\ that.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Logo*/
#title-site .logo{
    padding: 24px;
    display: inline-block;
    width: 100%;
    z-index: 2;
}
#title-site .logo .logo-truong, #header .logo .logo-hoi{
    display: inline-block;
    line-height: 0;
}
#title-site .logo .logo-truong img{
    width: 120px;
}
#title-site .logo .logo-hoi img{
    width: 60px;
    margin-left: -15px;
}

/*Tool-bar*/
#tool-bar{
    background-color: rgb(18, 72, 116);
    display: block;
    position:relative;
    min-width: 100%;
}
#tool-bar .option{
    padding: 4px 8px;
    display: inline-block;
}
#tool-bar .option:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#tool-bar i{
    color: white;
    font-size: 18px;
    padding: 4px;
}

/*Tool-bar -> Left-site*/
#tool-bar .left-site{
    margin-left: 44px;
    width: max-content;
}
#tool-bar .left-site a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    display: inline-block;
}
#tool-bar .left-site .Menu{
    position: relative;
    display: none;
}

/*Tool-bar -> Right-site*/
#tool-bar .right-site{
    width: max-content;
    margin-right: 44px;
    position: absolute;
    top: 0;
    right: 0;
}
#tool-bar .right-site .option{
    padding: 13px ;
}
#tool-bar .right-site i{
    color: white;
    font-size: 18px;
    line-height: 14px;
}

/*Tool-bar -> both-site -> Item-options*/
#tool-bar .option .nav{
    width: max-content;
    position: absolute;
    top: 100%;
    display: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
#tool-bar .option li{
    padding: 8px 16px;
    display:block;
}
#tool-bar .option ul{
    background-color: #fff;
    font-size: 14px;
    color: black;
    list-style: none;
    display: block;
}
#tool-bar .option li:hover{
    background-color: rgb(7, 38, 63);
    color: #fff;
    cursor: pointer;
}
#tool-bar .option li>i{
    color: #000;
    font-size: 14px;
}
#tool-bar .right-site .option li:hover>i{
    color: #fff;
    cursor: pointer;
}

/*Right-site*/
#tool-bar .right-site .option .nav{
    right: 0;
}
#tool-bar .right-site .Setting{
    position: relative;
}
#tool-bar .right-site .Setting:hover .Setting-options{
    display: block;
    cursor: pointer;
}
#tool-bar .right-site .Notification{
    position: relative;
}
#tool-bar .right-site .Notification .Notification-options{
    min-width: 400px;
    text-align: center;
}
#tool-bar .right-site .Notification:hover .Notification-options{
    display: block;
    cursor: pointer;
}
#tool-bar .right-site .option .nav .theme{
    position: relative;
}
#tool-bar .right-site .option .nav .nav1{
    position: absolute;
    top: 0;
    right: 100%;
    width: max-content;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    display: none;
}
#tool-bar .right-site .option .nav .theme:hover .nav1{
    display: block;
    cursor: pointer;
}

/*Left-site*/
#tool-bar .left-site .option .nav{
    left: 0;
}
#tool-bar .left-site .BoTieuChi{
    position: relative;
}
#tool-bar .left-site .BoTieuChi:hover .BoTieuChi-options{
    display: block;
    width: 100%;
    cursor: pointer;
}

/*Container*/
#container{
    position: relative;
}

/*Content*/
#content{
    min-height: 500px;
}

/*Footer*/
#footer{
    position: relative;
    background-color: rgb(4, 23, 39);
}
#footer img{
    width: 15%;
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0;
}
#footer .container{
    padding: 16px 24px;
    text-align: center;
    color: rgba(256, 256, 256, 0.6);
    font-size: 12px;
}
#footer .container p{
    padding: 4px;
    margin: 10px 0;
}

@keyframes xuathien{
    from{
        margin-left: -500px;
    }
    to{
        margin-left: 0;
    }
}

/*Side-bar*/
#side-bar{
    position: absolute;
    top: 50px;
    bottom: 0;
    background-color: #fff;
    width: 300px;

    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: xuathien 0.5s;
}
#side-bar p{
    padding: 16px 32px;
}
#side-bar p:hover{
    background-color: rgb(7, 38, 63);
    color: #fff;
}
#side-bar>i{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
    color: rgb(18, 72, 116);
}
#side-bar>i:hover{
    color: rgb(7, 38, 63);
    cursor: pointer;
}
.cosplay_taskbar:hover{
    color:white;
}

@media (max-width: 1100px) {
    #tool-bar .left-site .option{
        display: none;
    }
    #tool-bar .left-site .Menu{
        display: inline-block;
    }
    #side-bar{
        display: none;
    }
}